<%- include('partials/header') %>

<main class="flex-grow-1">
  <div class="container py-5">
    <h1><%= mainTitle %></h1>
    <p><%= mainContent %></p>
  </div>
</main>

<%- include('partials/footer') %>